/* Font import : Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

/* Variables : Color */
:root {
	--bg-color: #ffdde1;
	--span-color: #ff6f91;
	--font-color: #1e130c;
}

/* Navbar #6

.navbar__6
.logo__6
.nav__6
.general__list
.services__list
.services__sublist
.Programmming__list
.Programmming__sublist
*/

.navbar__6 {
	width: 1000px;
	max-width: 90%;
	margin: 0 auto;
	padding: 10px;
	background: var(--bg-color);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo__6 {
	margin-left: 20px;
}

.logo__6 span {
	color: var(--span-color);
}

.nav__6 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.general__list {
	display: flex;
}

.general__list li {
	cursor: pointer;
	padding: 20px 25px;
}

.general__list li a {
	color: var(--font-color);
}

.services__list {
	position: relative;
}

.services__sublist {
	display: none;
	position: absolute;
	margin-top: 20px;
}

/* Padre > Hijo */
.services__sublist > li {
	width: 200px;
	transform: translateX(-20px);
	border-bottom: 1px solid #ffffff;
	background: var(--bg-color);
}

.services__sublist li:hover {
	background: var(--span-color);
}

/* Padre > Hijo */
.services__list:hover > .services__sublist { 
	display: block;
}

.Programmming__sublist {
	position: absolute;
	transform: translateX(100%);
	right: 0;
	top: 40%;
	display: none;
	background: var(--bg-color);
}

/* Padre > Hijo */
.Programmming__list:hover > .Programmming__sublist {
	display: block;
}
