/* Font import : Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

/* Variables : Color */
:root {
	--bg-color: #ffdde1;
	--span-color: #ff6f91;
	--font-color: #1e130c;
}


body {
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-position: center;
}

.navbar__5 {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	margin: 0 auto;
	background: rgba(255, 227, 234, 0.8);
	/* Efecto Blur  */
	backdrop-filter: blur(10px);
		-webkit-backdrop-filter:  blur(10px);
}

/* header  */

.box {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	border-bottom: 1px solid rgba(39, 27, 34, 0.1);
}

.left-side {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0px;
	justify-items: end;
	font-size: 12px;
}

.left-side p {
	position: relative;
	top: 5px;
	left: 5px;
}


.left-side span {
	padding: 5px;
}

.logo {
	margin: 0 10px;
}

.logo span {
	color: #ffffff;
}

.right-side {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0px;
	justify-items: center;
	position: relative;
}


.right-side-EN {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0px;
	position: relative;
	right: 2px;
	cursor: pointer;
}

.right-side-USD {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0px;
	justify-items: end;
	position: relative;
	right: 2px;
	cursor: pointer;
}

.right-side-bag {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 0px;
	position: relative;
	right: 2px;
	cursor: pointer;
}

.notificacion {
	width: 15px;
	height: 15px;
	border-radius: 50px;
	position: relative;
	top: -10px;
	right: 0;
	background: #bd3156;
	color: #ffffff;
}

.notificacion span {
	font-size: 10px;
	font-weight: bold;
	position: relative;
	top: -4px;
	right: -4px;
}

.right-side-account {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 0px;
	position: relative;
	right: 20px;
	cursor: pointer;
}

/* Navegacion  */

.nav__5 ul li {
	padding: 15px 26px;
	display: inline-block;
	position: relative;
	left: 5rem;
	font-size: 12px;
}

.nav__5 ul li a {
	color: var(--font-color);
	cursor: pointer;
}

.nav__5 ul li:hover {

}

.nav__5 ul li a i {
	position: relative;
	top: 5px;
}


/* Section */

.home {
	border-left: 4px solid var(--bg-color);
	padding: 20px;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 1rem;
	width: 500px;
	max-height: 250px;
	position: relative;
	left: 6rem;
	top: 5rem;
}

.title {
	font-size: 30px;
}

.txt {
	margin: 10px 0;
	text-align: justify;
}

.btn {
	font-family: 'Roboto', sans-serif;
}

.btn a {
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	background: var(--font-color);
	color: #fff;
	padding: 10px 60px;
	border: 2px solid transparent;
	border-radius: 2px;
}

.btn a:hover {
	background: rgba(0, 0, 0, 0.8);
	border: 2px solid var(--font-color);
}


/* https://unsplash.com/es/fotos/eGHlWS-zQSM img fondo url */ 